# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
typings
dist

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Compiler generated
*.d.ts
*.js.map
source/**/*.js
source/**/*.js.map
source/**/*.d.ts
test/**/*.js
test/**/*.d.ts
test/**/*.d.ts.map
out
package